
<h3>Contact Information</h3>
<p>
    <strong>
        Customer Service -
    </strong>

<br />
<strong>
    Hours:
</strong>
<br />
Monday - Saturday 8:00am - Midnight EST
<br />
</p>

<p>
    <strong>
        Address:
    </strong>
    <br />
    11200 Broadway St
    <br />
    Pearland, TX 77584
</p>

<p>
    <strong>
     1-800-BUYBIKES 
    </strong>
    <br />
    <strong>
        Email:
    </strong>
    <a href="mailto:thebikeshoppe1@gmail.com">
    thebikeshoppe1@gmail.com
    </a>
</p>

<br /> 

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3470.746840189418!2d-95.393919!3d29.552866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1408463678701" width="400" height="300" frameborder="0" style="border:0"></iframe>